<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This location will be used to fetch current lat and long</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This location will be used to fetch current lat and long</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This location will be used to fetch current lat and long</string>
</dict>
</plist>
